.container {
    display: flex;
    flex-direction: row;
}

.feed-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.post-container {
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    width: 624px;
    margin-bottom: 10px;
}

.post-content {}

.feed-profile-photo {
    height: 64px;
    width: 64px;
    border: 1px solid grey;
    /* margin-right: 64px; */
}

.feed-profile-photo>img {
    height: 64px;
    width: 64px;
}

.post-header {
    width: 540px;
}

.post-image {
    width: 540;
}

.post-image img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.new-post-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 540px;
    height: 100px;
    margin-bottom: 20px;
    border: 1px solid gray;
}

.new-post-option-button {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
}

.side-section {
    border: 1px solid gray;
}
