body {
    background-color: rgb(0, 0, 17);
    font-family: 'Rubik', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
}

.feed-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.feed-header {
    color: whitesmoke;
    margin-left: 95px;
    width: 540px
}

.feed-header>h2 {
    border-bottom: 1px solid rgba(34, 34, 34, 255);

}

.post-container {
    display: flex;
    flex-direction: row;
    border-right: 1px solid rgba(34, 34, 34, 255);
    width: 624px;
    margin-right: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

.new-post-modal {
    display: flex;
    flex-direction: row;
}

.feed-profile-photo {
    height: 64px;
    width: 64px;
    /* border: 1px solid grey; */
    border-radius: 3px;
    background-color: rgba(128, 128, 128, 0.506);
    margin-right: 30px;
}

.feed-profile-photo>img {
    height: 64px;
    width: 64px;
}

.post-header {
    width: 540px;
    background-color: rgba(34, 34, 34, 255);
    border-radius: 3px;
}

.header-section {
    /* height: 20px; */
    padding: 15px;
    border-bottom: 1px solid rgba(245, 245, 245, 0.192);
}

.header-section>a {
    text-decoration: none;
    color: whitesmoke;
}

.post-content {
    color: grey;
    background-color: rgba(34, 34, 34, 255);
    /* border: solid; */
    border-radius: 3px;
    word-wrap: break-word;
}

.edit-delete-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.edit-delete-buttons>button {
    background: none;
    border: none;
}

.fa-pen-to-square,
.fa-trash-can {
    color: whitesmoke;
}

.post-image {
    width: 540;
}

.post-image img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.new-post-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 540px;
    height: 100px;
    margin-bottom: 20px;
    background-color: rgba(34, 34, 34, 255);
    border-radius: 3px;
    /* border: 1px solid gray; */
}

.new-post-option-button {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: white;
    /* border: 1px solid grey; */
}

.new-post-option-button button {
    width: 100px;
    height: 100px;
    background: none;
    border: none;
    font-size: 3em;
    cursor: pointer;
}

.post-type-name-footer {
    margin-top: -10px;
    margin-bottom: 10px;
}

.fa-b {
    font-size: xx-large;
    color: white;
}

#new-text-button {
    color: greenyellow;
}

#new-quote-button {
    color: rgb(193, 7, 255);
}

#new-photo-button {
    color: orangered;
}

.background-blur {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.824);
    z-index: 99;
}

.new-post-modal {
    position: fixed;
    width: 540px;
    height: 290px;
    left: 30%;
    top: 30%;
    /* border: 1px solid grey; */
    border-radius: 5px;
    background-color: white;
    /* margin: 14vw; */
}

.text-form {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.side-section {
    display: flex;
    flex-direction: column;
    /* border: 1px solid gray; */
    width: 320px;
    color: whitesmoke;
}

.delete-modal {
    /* z-index: 99; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 30%;
    top: 30%;
    width: 540px;
    height: 290px;
    position: fixed;
    color: white;
    font-size: x-large;
    /* background-color: white; */
}

nav {
    display: flex;
    height: 40px;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    list-style: none;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(34, 34, 34, 255);
}

.login-signup {
    display: flex;
    justify-content: space-between;
}

.login-button {
    margin-right: 5px;
    padding: 5px;
    border: 1px solid grey;
    background-color: greenyellow;
}

.signup-button {
    padding: 5px;
    background-color: rgb(118, 232, 249);
}

.title {
    font-size: xx-large;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 15px;
    color: whitesmoke
}

.content {
    padding-top: 15px;
    padding-left: 15px;
    color: whitesmoke
}


.quote-body {
    font-size: xx-large;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 15px;
    color: whitesmoke
}

.quote-source {
    padding-top: 15px;
    padding-left: 15px;
    color: whitesmoke;
    font-style: italic;
}

.post-image-caption {
    font-size: xx-large;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 15px;
    color: whitesmoke
}

.photo-content {
    padding-top: 15px;
    padding-left: 15px;
    color: whitesmoke;
}

.new-post-header {
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 15px;

}

.new-header-section {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(245, 245, 245, 0.192);
}

.text-form-container {
    background-color: white;

}

#title-input {
    background: none;
    border: none;
    font-size: xx-large;
}

#content-input {
    background: none;
    border: none;
    height: 70px;
    width: 400px;
    resize: none;
}

.post-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-top: 1px solid rgba(245, 245, 245, 0.192);
}

.comment-like-container {
    display: flex;
}

.comment-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.comment-text {
    border: 1px solid grey;
    border-radius: 3px;
    padding: 10px;
    word-wrap: break-word;
    max-width: 300px;
}

.fa-comment {
    color: white;
    font-size: large;
}

#comment-button {
    background: none;
    border: none;
    cursor: pointer;
}

.commentor-pic>img {
    width: 30px;
    /* border: 1px solid black; */
    border-radius: 3px;
}

.new-comment {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    margin-bottom: 70px;
    border: 1px solid grey;
    border-radius: 25px;
}

.comment-pic-input {
    display: flex;
}

#comment-input-submit {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
}

#edit-comment-input-submit {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-start; */
}

#comment-input-submit>button {
    background: none;
    border: none;
    color: grey;
    cursor: pointer;
    margin-left: 100px;
}

#edit-comment-input-submit>button {
    background: none;
    border: none;
    color: grey;
    cursor: pointer;
    /* margin-left: 100px; */
}

#comment-user-image {
    max-width: 30px;
}

#text-comment-input {
    background: none;
    resize: none;
    width: 300px;
    height: auto;
    border: none;
    color: white;
    outline: none;
    /* border-bottom: 1px solid grey; */
}

#edit-text-comment-input {
    background: none;
    resize: none;
    max-width: 300px;
    height: auto;
    border-radius: 3px;
    color: white;
    outline: none;
    /* border-bottom: 1px solid grey; */
}

.new-comment>button {
    background: none;
    border: none;
    color: grey;
    cursor: pointer;
}

#logout-button {
    background-color: rgb(0, 166, 255);
    border: none;
    border-radius: 3px;
    width: 100px;
    font-size: x-large;
}

.cancel-submit-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#cancel-text {
    background-color: rgb(172, 172, 172);
    border: none;
    border-radius: 3px;
    color: white;
    font-size: large;
}

#submit-text {
    background-color: rgb(0, 166, 255);
    border: none;
    color: white;
    border-radius: 3px;
    font-size: large;
}

.login-container {
    position: fixed;
    left: 29%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(133, 40, 214);
    width: 600px;
    height: 400px;
    /* margin-left: 29%; */
    border-radius: 5px;
}

#email-input,
#password-input {
    font-size: large;
    background: none;
    border: none;
    color: white;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}

#login-button {
    font-size: large;
    background-color: aqua;
    border: none;
    border-radius: 3px;
    /* margin-left: 35%; */
}

#demo-button {
    font-size: large;
    background-color: rgb(0, 255, 47);
    border: none;
    border-radius: 3px;
    margin-left: 35%;
}

.login-demo-container {
    display: flex;
}

.four-o-four {
    display: flex;
    justify-content: center;
    background-color: rgb(245, 95, 79);
    width: 600px;
    height: 200px;
    position: fixed;
    left: 23%;
    padding: 90px;
    border-radius: 5px;
}

.delete-message {
    display: flex;
    flex-direction: row;
}

#cancel-delete {
    background-color: rgb(172, 172, 172);
    border: none;
    border-radius: 3px;
    color: white;
    font-size: large;
    margin-right: 5px;
}

#submit-delete {
    background-color: rgb(0, 166, 255);
    border: none;
    color: white;
    border-radius: 3px;
    font-size: large;
    margin-left: 5px;
}

.featured-blogs {
    background-color: rgba(34, 34, 34, 255);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.single-featured-blog {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.featured-post-owner-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

#featured-title {
    font-size: xx-large;
    margin-bottom: 20px;
}

#featured-content {
    font-size: large;
}

#featured-quote {
    font-size: xx-large;
    margin-bottom: 20px;
}

#featured-quote-source {
    font-style: italic;
}

#featured-post-owner {
    width: 50px;
}
