/* TODO Add site wide styles */
button {
    cursor: pointer;
    border-radius: 3px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black
}


textarea {
    font-family: 'Rubik', sans-serif;

}

textarea::placeholder {
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: rgb(0, 0, 17);
    font-family: 'Rubik', sans-serif;
}
