.followers-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.followers {
    width: 624px;
    border: 1px solid lightgrey;
    color: white;
}

.side-section {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    width: 320px;
    color: white;
}
